@charset "UTF-8";


/* unvisited link */
a:link {
  color: #659AD2;
}

/* mouse over link */
a:hover {
  color: #0F385E;
}



/* Section titles */

section {
	scroll-margin-top: 80px;
}

h2 {
  text-color: #659AD2;
  text-align: center;
  font-weight: normal;
}




/* News */

#carousel {
  display: flex;
  overflow-x: auto;

  margin: 0 auto 0 auto;
  width: 88vw;
  height: fit-content;
}

#carousel::-webkit-scrollbar {
  -webkit-overflow-scrolling: touch; /* On touch screens the content continues to scroll for a while after finishing the scroll gesture */
}



.card {
  min-width: 300px;
  min-height: 20vh;
  margin: 12px;
  padding: 0.5em 0.5em 0.5em;
  border-radius: 1em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  border-radius: 1em;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card .card-title {
  font-weight: 700;
  font-size: 1.25em;
}
.card .btn {
  border-radius: 0.5em;
  background-color: #659AD2;
  color: #ffffff;
  padding: 0.5em 1.5em;
}
.card .btn:hover {
  background-color: rgba(0, 80, 128, 0.7);
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card2 {
  min-width: 365px;
  min-height: 20vh;
  margin: 12px;
  padding: 0.5em 0.5em 0.5em;
  border-radius: 1em;
  background-color: white;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card2 img {
  width: 100%;
  border-radius: 1em;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card2 .card-title {
  font-weight: 700;
  font-size: 1.25em;
}
.card2 .btn {
  border-radius: 0.5em;
  background-color: #659AD2;
  color: #ffffff;
  padding: 0.5em 1.5em;
}
.card2 .btn:hover {
  background-color: rgba(0, 80, 128, 0.7);
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card3 {
  min-width: 255px;
  min-height: 20vh;
  margin: 12px;
  padding: 0.5em 0.5em 0.5em;
  border-radius: 1em;
  background-color: white;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card3 img {
  width: 100%;
  border-radius: 1em;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card3 .card-title {
  font-weight: 700;
  font-size: 1.25em;
}
.card3 .btn {
  border-radius: 0.5em;
  background-color: #659AD2;
  color: #ffffff;
  padding: 0.5em 1.5em;
}
.card3 .btn:hover {
  background-color: rgba(0, 80, 128, 0.7);
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card4 {
  width: 250px;
  margin: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.card4 img {
  width: 100%;
  margin: 0 auto;
}
.card4 .card-title {
  font-weight: 700;
  font-size: 1.25em;
  color: #1C8E5F;
}




/* Buttons */

.btn {
  border-radius: 0.5em;
  background-color: #659AD2;
  color: #ffffff;
  padding: 0.5em 1.5em;
}
.btn:hover {
  background-color: rgba(0, 80, 128, 0.7);
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* Publications year buttons */

.pubs .btn {
  border-radius: 0.5em;
  background-color: white;
  color: #B73822;
  padding: 0.5em 1.5em;
}
.pubs .btn:hover {
  border-radius: 0.5em;
  background-color: white;
  color: #ffffff;
}


/* Circular images */

.rounded-circle {
  width:200px;height:200px;
  background-color: #eed;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
}